/* Reset some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #424242;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

#title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.8rem;
    color: #3f51b5;
    font-weight: 1200;
    margin-bottom: 10px;
}

hr {
    border: 0;
    height: 2px;
    background-color: #3f51b5;
    margin-bottom: 20px;
}

.btn {
    margin: 20px 0;
}

#sum-btn {
    background-color: #3f51b5;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

#sum-btn:hover {
    background-color: #303f9f;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}
*
#summary {
   
    max-width: max-content;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    background-color: #e0d6d6;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: contents;
    justify-content: space-evenly;
    

}

#summary h2{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-weight: bolder;font-size: larger;text-decoration: underline;text-align: center;}

#summary li{color: rgb(21, 21, 133);font-weight: bold;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: medium;text-align: left;}

/* From Uiverse.io by barisdogansutcu */ 
#loading{display: none;}
svg {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
   }
   
   circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
   }
   
   @keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
   }
   
  